/*************/
/* CSS RESET */
/*************/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/***************/
/* CSS RESET ^ */
/***************/

/*****************/
/* COLOR PALETTE */
/*****************/
:root {
    --main: #CC8B86;
    --mainLight: #F9EAE1;
    --secondLight: #D1BE9C;
    --secondMain: #086375;
    --secondDark: #613031;
}

/********/
/* FONT */
/********/

body {
	font-family: Arial, Helvetica, sans-serif;
}

.chocolate {
	color: var(--secondDark);
	text-shadow: 2px 2px 2px var(--mainLight);
	font-weight: bold;
}

.vanilla {
	color: var(--mainLight);
	text-shadow: 2px 2px 2px var(--secondMain);
	font-weight: bold;
}

h1 {
	font-size: 4rem;
	font-family: 'Caveat', cursive;
	color: black;
	text-align: center;
}

.links {
	text-decoration: none;
	color: var(--secondMain);
}

.links:hover {
	color: var(--mainLight)
}

#calculator-body > *,
#calculator-body > * > *{
	font-size: 2rem;
}

#historyDisplay {
	font-size: 1.5rem;
	color: var(--secondDark);
}

#mainDisplay {
	font-size: 3rem;
	color: var(--secondMain);
}

footer {
	color: var(--secondDark);
}

/**************/
/* CONTAINERS */
/**************/
body {
	background-color: var(--secondLight);
}

.page-container {
	position: relative;
	min-height: 100vh;
}

main {
	padding-bottom: 2.5rem;
}

h1 {
	background-color: var(--main);
	padding: 10px;
}

.title-container {
	text-align: center;
}

#calculator-body {
    max-width: 750px;
    margin: 25px auto;
	background-color: var(--secondDark);
	padding: 10px;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
}

#displayContainer {
	min-height: 82px;
	padding: 0 10px;
	background-color: var(--mainLight);
	display: flex;
	flex-direction: column;
}

#historyDisplay, 
#mainDisplay {
	text-align: right;
	padding-top: 5px;
}

#mainDisplay {
	margin-top: auto;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 2.5rem;
	padding-top: 15px;
	background-color: var(--main);
	text-align: center;
}

/********/
/* GRID */
/********/
.inputButtons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

/**********************/
/* CALCULATOR BUTTONS */
/**********************/
.numInput,
.opInput,
.specialInput {
	color: var(--mainLight);
	background-color: var(--secondDark);
	padding: 10px;
}